*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.box-img{
    width:650px;
    height:450px;
    position:relative;
    overflow:hidden;/*imagem escondida*/
    border-radius:5px;

}

.antes, .depois {
    width:100%;
    height:100%;
    background-size:cover;
    position:absolute;
}

.depois{
    left:100%;
    transition: left 1s;
}

/*.box-img:hover .depois{
    left:0%;
}*//*Ao passar o mouse por cima da imagem a imagem depois que estar escondida na esquerda
surge com left: 0%*/

.box-img:active .depois{
    left:0%;
}
