*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

.box-degrade{
    width: 100%;
    height: 100vh;
    padding:300px 0;
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: 500% 100%;/*tera um tamanho de 500% o backgrond e no eixo y tamanho de 100%.*/
    background-image: linear-gradient(to left, blue,red,green);
    animation: degrade-animado 5s infinite alternate;/*O degrade terar uma duração de 5 segundos a cada ciclo os ciclos se repetirão infinitamente
    alternando de 0 a 100 e de 100 a 0*/ 
}

@keyframes degrade-animado{

0%{
    background-position-x: 0%;
}
100%{

    background-position-x: 100%;
}


}/*o background que tem a cor sera alternado no eixo x*/